html
  head
    title= "HELLO"
  body
    h1= "WORLD"
    if user
      form(action="/start-container", method="POST")
        input(type="text", name="image")
        button(type="submit")= "Start"
    else
      a(href="/auth/github")= "Login"